html, body {
	margin: 0;
	max-width: 100%;
	font-family: "Franklin Gothic Book", Univers, Calibri, "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12.5pt;
	color: #ffffff;
	line-height: 22pt;
	letter-spacing: 1px;
	text-align: justify;
	hyphens: auto;
	height: 100%;
}

body {
	background: #1d1d1d;
	min-height: 667px;
}

img {
	display: block;
	position: relative;
}

@keyframes flicker_8 {
	0% { opacity: 1; }
	50% { opacity: 0.8; }
	100% { opacity: 1; }
}

@keyframes flicker_9 {
	0% { opacity: 1; }
	50% { opacity: 0.9; }
	100% { opacity: 1; }
}

@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('../fonts/FRABK.TTF');
	
	font-family: 'Hans Kendrick 3';
	src: url('../fonts/HansKendrick-Regular.otf');
}

.menu_item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#board {
	position: fixed;
	z-index: -10;
	border-radius: 0;
}

#board div {
	background: #1d1d1d url('../images/home_chalkboard.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 120%;
	position: absolute;
}

#projector {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	display: none;
}

#projector #projector_screen {
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: -2px -3px 50px 0px rgba(220, 220, 220, 0.1) inset;
	animation: flicker_9 30ms infinite;
	z-index: 3;
	position: relative;
}

/*Auto-Scroll Interface Styles*/
.auto_scroll {
	z-index: 10;
	position: fixed;
	width: 100%;
}

#auto_scroll_up {
	height: 12%;
}

#auto_scroll_up #arrow_up, #auto_scroll_down #arrow_down {
	width: 55px;
	height: 55px;
	animation: pulsate 2s infinite;
	display: none;
	margin: 0 auto;
	background-size: 55px 55px;
}

#arrow_up {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../images/arrow_up.png') no-repeat;
}

#auto_scroll_up #message_up {
	position: absolute;
	bottom: 17px;
	text-align: center;
	width: 100%;
	font-size: 12pt;
	opacity: 0.5;
}
	
#auto_scroll_down {
	height: 200px;
	top: 87%;
}

#arrow_down {
	background: url('../images/arrow.png') no-repeat;
}

#auto_scroll_down #message_down {
	position: absolute;
	top: 15px;
}	

#auto_scroll_up #message_up, #auto_scroll_down #message_down {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 12pt;
	opacity: 0.5;
	display: none;
}
	
@keyframes pulsate {
	0% { transform: scale(0.1, 0.1); opacity: 0.0; }
	50% { opacity: 0.5;}
	100% { transform: scale(1, 1); opacity: 0.0; }
}
/*Auto_scroll Interface Styles END*/

/*Positioning Styles*/
.center {
	overflow: hidden;
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
}

.vert_cent {
	display: table-cell;
	vertical-align: middle;
}

.group_hor_cent {
	margin: 0 auto;
	position: relative;
}

.hor_cent{
	position: absolute;
}

.hor_cent:after,
#contact #container #contact_info #displace div address ul:after,
#contact #envelope #displace:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.displace {
	position: relative;
}
/*Positioning Styles END*/

#home .group_hor_cent {
	width: 500px;
	height: 511px;
}

#home #home_main_title .hor_cent_2 {
	position: absolute;
	left: -325px;
	top: -35px;
}

#home #home_main_title .hor_cent_3 {
	position: relative;
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	overflow: hidden;
}

#home #home_main_title #displace{
	left: 201px;
	top: 16px;
}

#home #home_main_title #displace div {
	background: url('../images/home_main_title.png') no-repeat;
	width: 755px;
	height: 558px;
	position: relative;
	animation: flicker_8 30ms infinite;
	z-index: 4;
}

#home #home_decor #displace {
	left: -285px;
}

#home #home_decor #displace img {
	opacity: 0.6;
	z-index: -1;
}

#about_1 .group_hor_cent {
	width: 1019px;
	height: 494px;
}
	
#about_1 #content #displace div {
	width: 690px;
	height: 200px;
	
}

#about_1 #skills_i_have #displace {
	left: 750px;
	top: -50px;
}

#about_1 #skills_i_have #displace img {
	opacity: 0.9;
	z-index: -1;
}

#about_1 #what_i_do .hor_cent_2 {
	position: absolute;
	left: -65px;
	top: -43px;
}

#about_1 #what_i_do .hor_cent_3 {
	position: relative;
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	overflow: hidden;
	
}

#about_1 #what_i_do #displace {
	top: 243px;
	left: 120px;
}

#about_1 #what_i_do #displace #what_i_do_arrow{
	background: url('../images/what_i_do_arrow.png') no-repeat;
	width: 904px;
	height: 294px;
	position: relative;
	animation: flicker_9 30ms infinite;
}

#about_1 #what_i_do #what_i_do_sign {
	background: url('../images/what_i_do_sign.png') no-repeat;
	position: absolute;
	width: 173px;
	height: 85px;
	left: 770px;
	top: 228px;
	z-index: -1;
	opacity: 0.9;
}

#about_2 .group_hor_cent{
	width: 1060px;
	height: 500px;
}

#about_2 #content #displace {
	position: absolute;
	top: -15px;
	left: -3px;
}

#about_2 #content #displace div {
	width: 534px;
	height: 560px;
}

#about_2 #how_i_do_it .hor_cent_2 {
	position: absolute;
	left: -46px;
	top: -40px;
}

#about_2 #how_i_do_it .hor_cent_3 {
	position: relative;
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	overflow: hidden;
}

#about_2 #how_i_do_it #displace {
	left: 596px;
	top: 30px;
}

#about_2 #how_i_do_it #displace #how_i_do_it_graph {
	background: url('../images/how_i_do_it_graph.png') no-repeat;
	width: 536px;
	height: 532px;
	position: relative;
	overflow: hidden;
	animation: flicker_9 30ms infinite;
}

#about_2 #how_i_do_it #how_i_do_it_sign {
	background: url('../images/how_i_do_it_sign.png') no-repeat;
	width: 207px;
	height: 72px;
	position: absolute;
	left: 730px;
	top:-30px;
	z-index: -1;
	opacity: 0.9;
}

#about_2 #how_i_do_it #what_i_love_sticky {
	background: url('../images/what_i_love_sticky.png') no-repeat;
	width: 176px;
	height: 107px;
	position: absolute;
	top: 143px;
	left: 535px;
}

#about_2 #how_i_do_it #hover_message {
	position: absolute;
	bottom: 2%;
	right: 2%;
	font-size: 12pt;
	opacity: 0.4;
	
}

#projects .group_hor_cent {
	width: 1010px;
	height: 621px;
}

#projects #pursuit #displace {
	left: 90px;
	top: 30px;
}

#projects #pursuit #displace div {
	width: 800px;
	height: 286px;
	font-family: "Hans Kendrick 3";
	font-size: 20pt;
	line-height: 45pt;
	text-align: center;
	opacity: 0.95;
	hyphens: none;
}

#projects #bitbucket .hor_cent_2 {
	position: absolute;
	left: -70px;
	top: 20px;
}

#projects #bitbucket .hor_cent_3 {
	position: relative;
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	overflow: hidden;
}

#projects #bitbucket #displace {
	left: 260px;
	top: 160px;
}
	
#bitbucket_folder {
	background: url('../images/projects.png') no-repeat;
	width: 499px;
	height: 413px;
	opacity: 0.9;
	transition: opacity 0.5s;
	position: relative;
	animation: flicker_9 30ms infinite;
}

#bitbucket_folder a {
	width: 100%;
	height: 100%;
	display: block;
}

#bitbucket_folder:hover {
	animation: bulge 1.5s infinite;
}

#bitbucket_folder:active {
	opacity: 0.2;
}

#projects #photo {
	display: none;
}

@keyframes bulge {
	0% { transform: scale(1, 1); }
	50% { transform: scale(0.85, 0.85); }
	100% { transform: scale(1, 1); }
}

#contact .group_hor_cent {
	width: 743px;
	height: 615px;
}

#contact #envelope .hor_cent_2 {
	position: absolute;
	left: -204px;
	top: 17px;
}

#contact #envelope .hor_cent_3 {
	position: relative;
	height: 580px;
	width: 1150px;
	border-radius: 100px;
	overflow: hidden;
}

#contact #envelope #displace {
	top: -50px;
	left: 200px;
}

#contact #envelope #displace > :first-child {
	background: url('../images/envelope.png') no-repeat;
	width: 802px;
	height: 579px;
	position: absolute;
}

#contact #contact_info #displace {
	left: -165px;
	top: 480px;
}

#contact #contact_info #displace div {
	width: 1050px;
	height: 35px;
	z-index: 11;
}

#contact #container #contact_info #displace div address ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 320px;
}

#contact #container #contact_info #displace div address ul li {
	font-family: 'Hans Kendrick 3';
	text-align: center;
	float: left;
	font-size: 15pt;
	font-style: normal;
	opacity: 0.95;
	padding: 5px 0px;
	width: 100%;
}

footer {
	font-size: 12pt;
	width: 740px;
	z-index: 11;
	position: absolute;
	bottom: 2%;
	right: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#design_by {
	float: left;
}

#design_by span {
	opacity: 0.4;
}

#copyright {
	float: left;
	opacity: 0.4;
}
	
/*Form Styles*/
#contact #envelope #form_container {
	width: 513px;
	height: 325px;
	position: absolute;
	top: 180px;
	left: 110px;
}

*:focus {
	outline: none;
}

.contact_form {
	height: 100%;
	padding: 0 3%;
}

.contact_form ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.contact_form li {
	padding: 0 3%;
	position: relative;
	width: 94%;
	height: 20%;
}

.contact_form #text_area {
	height: 40%;
}

.contact_form input {
	width: 87%;
	padding: 0 3%;
	font-size: 13pt;
	height: 70%;
	position: relative;
	top: 15%;
}

.contact_form textarea {/*Careful adding padding! It might make the textbox bigger than it should*/
	padding: 5px 3%;
	width: 87%;
	height: 68%;
	overflow: auto;
	margin: 0;
	font-size: 12pt;
	position: relative;
	top: 15%;
	line-height: 125%;
}

.contact_form input, .contact_form textarea {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0px 10px 15px #eee inset;
	border-radius: 2px;
	transition: padding .25s;
	font-family: sans-serif;
}

.contact_form input:focus, .contact_form textarea:focus {
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right: 7%;
}

button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
	height: 70%;
	display: block;
	float: left;
	width: 27%;
}

.contact_form #success_message, .contact_form #fail_message {
	width: 71%;
	height: 50px;
	position: relative;
	top: 8px;
	padding: 0 1%;
	float: left;
	font-family: "Hans Kendrick 3";
	font-size: 12pt;
	line-height: 13pt;
	text-align: center;
}
	
#success_message {
	color: green;
}

#fail_message {
	color: #d81717;
}

button.submit:hover {
	opacity: .85;
	cursor: pointer;
}

button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
}

input:required, textarea:required {
	background: #fff url('../images/red_asterisk.png') no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url('../images/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}

.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url('../images/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
/*Form Styles END*/

/*Pop-Up Styles*/
.pop_up {
	width: 22%;
	height: 22%;
	position: absolute;
	z-index: 5;
}

.pup {
  position: absolute;
  z-index: 200; /* aaaalways on top*/
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 400px;
  background-color: rgba(76, 153, 178, 0.7);
  border-radius: 3px;
  font-size: 12pt;
  line-height: 18pt;
  letter-spacing: 1px;
  text-align: left;
  hyphens: auto;
  margin-left: 10px;
  margin-top: 25px;
}

#define {
	top: 0%;
	left: 7%;
}

#model {
	top: 11%;
	left: 72%;
}

#design {
	top: 31%;
	left: 41%;
}

#refine {
	top: 56%;
	left: 0%;
}

#analyze{
	top: 73%;
	left: 37%;
}

#implement {
	top: 57%;
	left: 74%;
}

#what_i_love_desktop {
	top: 0%;
	width: 100%;
	height: 100%;
}

#what_i_love_mobile {
	display: none;
}

.what_i_love_list{
	background-color: rgba(68, 157, 68, 0.7); 
	color: white;
	padding: 10px;
	padding-left: 15px;
	padding-right: 2px;
}

.what_i_love_list ul{
	margin: 0; 
	padding: 0; 
	list-style-position: inside;
}