html, body {
	margin: 0;
	max-width: 100%;
	font-family: "Franklin Gothic Book", Univers, Calibri, "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12.5pt;
	color: #ffffff;
	line-height: 22pt;
	letter-spacing: 1px;
	hyphens: auto;
	height: 100%;
}

body {
	background: #1d1d1d;
}

@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('../fonts/FRABK.TTF') format('truetype');
	
	font-family: 'Hans Kendrick 3';
	src: url('../fonts/HansKendrick-Regular.otf');
}

.menu_item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
	
#board {
	position: fixed;
	z-index: -1;
}

#board div {
	background: #1d1d1d url('../images/home_chalkboard.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#projector {
	display: none;
}

.auto_scroll {
	display: none;
}

/*Positioning Styles*/
.center {
	overflow: hidden;
	display: table;
	position: relative;
	height: 100%;
	width: 100%;
}

.vert_cent {
	display: table-cell;
	vertical-align: middle;
	padding: 40px 0;
}

.hor_cent {
	margin: 0 auto;
	overflow: visible;
	width: 100px;
}

.hor_cent:after,
#contact #container #contact_info #displace div address ul:after,
#contact #envelope #displace:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.hor_cent_2 {
	position: relative;
	float: right;
	right: 50%;
}

.hor_cent_3 {
	position: relative;
	right: -50%;
}

.displace {
	position: relative;
}
/*Positioning Styles END*/

#home #container .vert_cent {
	padding: 0;
}

#home_decor {
	display: none;
}

#home_main_title #displace {
	left: -6px;
}
	
#home_main_title  #displace div {
	background: url('../images/home_main_title.png') no-repeat;
	width: 440px;
	height: 325px;
	background-size: 440px;
}

#about_1 {
	height: auto;
	background: rgba(94, 94, 94, 0.5);
}

#about_1 #container #content {
	width: 86%;
	padding: 0 7%;
}

#about_1 #container #what_i_do {
	padding-top: 30px;
}

#about_1 #container #what_i_do #displace #what_i_do_arrow {
	background: url('../images/what_i_do_mobile.png') no-repeat;
	width: 320px;
	height: 294px;
	background-size: 320px;
}

#about_1 #container #what_i_do #displace #what_i_do_sign {
	display: none;
}

#about_1 #container #skills_i_have {
	padding-top: 40px;
}

#about_2 {
	height: auto;
}

#about_2 #container #content {
	width: 86%;
	padding: 0 7%;
}

#about_2 #container #how_i_do_it {
	padding-top: 30px;
}

#how_i_do_it #displace #how_i_do_it_graph {
	background: url('../images/how_i_do_it.png') no-repeat;
	width: 320px;
	height: 339px;
	background-size: 320px;
}

#how_i_do_it #displace #how_i_do_it_sign {
	display: none;
}

#how_i_do_it #displace #hover_message {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 11pt;
	opacity: 0.5;
}

#projects {
	height: auto;
	background: rgba(94, 94, 94, 0.5);
}

#projects #container #pursuit {
	width: 86%;
	padding: 0 7%;
}

#projects #container #pursuit #displace div {
	font-family: "Hans Kendrick 3";
	font-size: 15pt;
	line-height: 33pt;
	text-align: center;
	opacity: 0.95;
	hyphens: none;
}

#projects #container #photo {
	display: none;
}

#projects #container #bitbucket #displace div {
	background: url('../images/projects.png') no-repeat;
	width: 360px;
	height: 298px;
	background-size: 360px;
	margin: 0 auto;
}

#projects #container #bitbucket div a {
	width: 100%;
	height: 100%;
	display: block;
}

#contact {
	height: auto;
}

#contact #container #envelope #displace > div:first-child {
	background: url('../images/envelope_mobile.png') no-repeat;
	width: 310px;
	height: 388px;
	background-size: 310px;
}

#contact #container #contact_info {
	padding-top: 20px;
}

#contact #container #contact_info #displace div address ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 320px;
}

#contact #container #contact_info #displace div address ul li {
	font-family: 'Hans Kendrick 3';
	text-align: center;
	float: left;
	font-size: 15pt;
	font-style: normal;
	opacity: 0.95;
	padding: 5px 0px;
	width: 100%;
}

footer {
	font-size: 11pt;
	position: absolute;
	bottom: 1%;
	width: 100%;
	z-index: 11;
}

#copyright {
	display: block;
	width: 100%;
	text-align: center;
	opacity: 0.4;
}

#design_by {
	display: none;
}

#source {
	display: none;
}

/*Form Styles*/
#form_container {
	width: 100%;
	height: 100%;
}

*:focus {
	outline: none;
}

.contact_form {
	height: 73%;
	position: relative;
	top: 27%;
	padding: 0 3%;
}

.contact_form ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.contact_form li {
	padding: 0 3%;
	position: relative;
	width: 94%;
	height: 20%;
}

.contact_form #text_area {
	height: 40%;
}

.contact_form input {
	width: 87%;
	padding: 0 3%;
	font-size: 13pt;
	height: 70%;
	position: relative;
	top: 15%;
}

.contact_form textarea {/*Careful adding padding! It might make the textbox bigger than it should*/
	padding: 5px 3%;
	width: 87%;
	height: 68%;
	overflow: auto;
	margin: 0;
	font-size: 12pt;
	position: relative;
	top: 15%;
	line-height: 125%;
}

.contact_form input, .contact_form textarea {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0px 10px 15px #eee inset;
	border-radius: 2px;
	transition: padding .25s;
	font-family: sans-serif;
}

.contact_form input:focus, .contact_form textarea:focus {
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right: 7%;
}

button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
	height: 70%;
	display: block;
	float: left;
	width: 27%;
}

.contact_form #success_message, .contact_form #fail_message {
	width: 71%;
	height: 65%;
	position: relative;
	top: 5%;
	padding: 0 1%;
	float: left;
	font-family: "Hans Kendrick 3";
	font-size: 12pt;
	line-height: 13pt;
	text-align: center;
}
	
#success_message {
	color: green;
}

#fail_message {
	color: #d81717;
}

button.submit:hover {
	opacity: .85;
	cursor: pointer;
}

button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
}

input:required, textarea:required {
	background: #fff url('../images/red_asterisk.png') no-repeat 98% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url('../images/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}

.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url('../images/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
/*Form Styles END*/

/*Pop-Up Styles*/
.pop_up {
	width: 21%;
	height: 21%;
	position: absolute;
	z-index: 2;
}

.pup {
  position: absolute;
  z-index: 200; /* aaaalways on top*/
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 400px;
  background-color: rgba(76, 153, 178, 0.7);
  border-radius: 3px;
  font-size: 12pt;
  line-height: 18pt;
  letter-spacing: 1px;
  text-align: left;
  hyphens: auto;
}

#define {
	top: 7%;
	left: 8%;
}

#model {
	top: 17%;
	left: 69%;
}

#design {
	top: 34%;
	left: 40%;
}

#refine {
	top: 56%;
	left: 2%;
}

#analyze{
	top: 72%;
	left: 36%;
}

#implement {
	top: 57%;
	left: 71%;
}

#what_i_love_sticky {
	display: none;
}

#what_i_love_mobile {
	top: 32%;
	width: 28%;
	height: 16%;
	position: absolute;
}

#what_i_love_desktop {
	display: none;
}

.what_i_love_list{
	background-color: rgba(68, 157, 68, 0.7); 
	color: white;
	padding: 10px;
	padding-left: 15px;
	padding-right: 2px;
}

.what_i_love_list ul{
	margin: 0; 
	padding: 0; 
	list-style-position: inside;
}

/*MEDIA QUERIES*/
/*Portrait*/
@media all and (min-width: 320px) and (min-device-height: 600px) and (orientation: portrait){
	#projects, #contact {
		height: inherit;
	}
	
	#projects #container .vert_cent, #contact #container .vert_cent {
		padding: 0;
	}
}

@media all and (min-width: 480px) and (orientation: portrait){
	#home_main_title #displace {
		left: -8px;
	}
	
	#home_main_title  #displace div {
		width: 650px;
		height: 481px;
		background-size: 650px;
	}
	
	#about_1 #container #what_i_do #displace div {
		width: 470px;
		height: 432px;
		background-size: 470px;
	}
	
	#about_1 #container #skills_i_have #displace img {
		width: 270px;
	}
	
	#how_i_do_it #displace #how_i_do_it_graph {
		width: 450px;
		height: 477px;
		background-size: 450px;
	}
	
	#projects #container #bitbucket #displace div {
		width: 440px;
		height: 364px;
		background-size: 440px;
	}
	
	#contact #container #envelope #displace > div:first-child {
		background: url('../images/envelope_1.png') no-repeat;
		width: 513px;
		height: 504px;
	}
	
	.contact_form {
		height: 67%;
		top: 33%;
	}
	
	button.submit {
		font-size: 14pt;
	}
}

@media all and (min-width: 600px) and (orientation: portrait){
	html, body {
		font-size: 15pt;
		line-height: 26pt;
		letter-spacing: 1.5px;
	}

	#home_main_title #displace {
		left: -10px;
	}
	
	#home_main_title  #displace div {
		width: 770px;
		height: 569px;
		background-size: 770px;
	}
	
	#about_1 #container #what_i_do #displace div {
		width: 520px;
		height: 478px;
		background-size: 520px;
	}
	
	#about_1 #container #skills_i_have #displace img {
		width: 300px;
	}
	
	#how_i_do_it #displace #how_i_do_it_graph {
		width: 540px;
		height: 572px;
		background-size: 540px;
	}

	#projects #container #pursuit div {
		font-size: 18pt;
		line-height: 36pt;
		letter-spacing: 2px;
	}

	#projects #container #bitbucket #displace div {
		width: 470px;
		height: 389px;
		background-size: 470px;
	}

	#contact #container #contact_info div address ul {
		width: 300px;
	}

	#contact #container #contact_info div address ul li {
		font-size: 16pt;
	}
}

@media all and (min-width: 768px) and (min-device-height: 1024px) and (orientation: portrait) {
	html, body {
		font-size: 15pt;
		line-height: 26pt;
		letter-spacing: 1.5px;
	}
	
	#home_main_title #displace {
		left: -14px;
	}
	
	#home_main_title #displace div {
		width: 900px;
		height: 665px;
		background-size: 900px;
	}

	#about_1 #container #what_i_do #displace #what_i_do_arrow {
		width: 590px;
		height: 542px;
		background-size: 590px;
	}
	
	#about_1 #skills_i_have {
		padding-top: 25px;
	}

	#how_i_do_it #displace #how_i_do_it_graph {
		width: 571px;
		height: 605px;
		background-size: 571px;
	}

	#projects #container #pursuit #displace div {
		font-size: 18pt;
		line-height: 36pt;
		letter-spacing: 2px;
	}

	#projects #container #bitbucket #displace div {
		width: 600px;
		height: 600px;
		background-size: 600px;
	}

	#contact #container #envelope #displace > div:first-child {
			width: 650px;
			height: 639px;
			background-size: 650px;
	}
	
	#contact #container #contact_info #displace div address ul li {
		font-size: 17pt;
	}
	
	.contact_form #success_message, .contact_form #fail_message {
		height: 55%;
		top: 15%;
		font-size: 15pt;
	}
	
	.contact_form textarea {
		font-size: 15pt;
	}
	
	.contact_form .send {
		font-size: 14pt;
	}
}

/*Landscape*/
@media all and (min-width: 500px) and (orientation: landscape) {
	#about_1 #container #what_i_do #displace #what_i_do_arrow {
		width: 470px;
		height: 432px;
		background-size: 470px;
	}
	
	#contact #container #envelope #displace > div:first-child {
		background: url('../images/envelope_1.png') no-repeat;
		width: 513px;
		height: 504px;
		background-size: 513px;
	}
	
	.contact_form {
		height: 67%;
		top: 33%;
	}
}

@media all and (min-width: 650px) and (orientation: landscape) {
	#home #container .group_hor_cent {
		margin: 0 auto;
		position: relative;
		width: 639px;
		height: 300px;
	}
	
	/*Reset home item styles*/
	#home_decor, #home_main_title {
		width: auto;
		margin: 0;
	}
	
	#home_decor .hor_cent_2, #home_main_title .hor_cent_2 {
		position: static;
		float: none;
		right: 0;
	}

	#home_decor .hor_cent_3, #home_main_title .hor_cent_3 {
		position: static;
		right: 0;
	}
	
	#home_decor {
		display: block;
	}
	/*Reset END*/
	
	#home_decor #displace, #home_main_title #displace {
		position: absolute;
	}
	
	#home_decor #displace img {
		width: 639px;
	}
	
	#home_main_title #displace {
		left: 94px;
		top: -10px;
	}
	
	#how_i_do_it #displace #how_i_do_it_graph {
		width: 400px;
		height: 424px;
		background-size: 400px;
	}
}

@media all and (min-width: 750px) and (orientation: landscape) {
	#about_1 #container #what_i_do #displace #what_i_do_arrow  {
		background: url('../images/what_i_do.png') no-repeat;
		width: 750px;
		height: 244px;
		background-size: 750px;
	}

}

@media all and (min-width: 800px) and (orientation: landscape){	
	#about_1 #container #what_i_do #displace #what_i_do_arrow {
		width: 780px;
		height: 254px;
		background-size: 780px;
	}
}

@media all and (min-width: 1024px) and (min-device-width: 600px) and (orientation: landscape){
	#home #container .group_hor_cent {
		width: 959px;
		height: 445px;
	}
	
	#home_main_title #displace {
		left: 141px;
		top: -16px;
	}

	#home_main_title #displace div {
		width: 660px;
		height: 488px;
		background-size: 660px; 
	}
	
	#home_decor #displace img {
		width: 959px;
	}
		
	#about_1 {
		height: inherit;
	}
	
	#about_1 #container .vert_cent {
		padding: 0;
	}
	
	#about_1 #container .group_hor_cent {
		margin: 0 auto;
		width: 86%;
		position: relative;
	}
	
	#about_1 #container #content {
		margin: 0;
		width: 70%;
		padding: 0;
		padding-top: 20px;
		height: 203px;
	}
	
	#about_1 #container #skills_i_have {
		margin: 0;
		width: 30%;
		padding: 0;
		position: absolute;
		top: 0px;
		left: 70%;
	}
	
	#about_1 #container #what_i_do {
		padding-top: 35px;
	}

	#about_2 {
		height: inherit;
	}
	
	#about_2 #container .vert_cent {
		padding: 0;
	}
	
	#about_2 #container .group_hor_cent {
		margin: 0 auto;
		width: 940px;
		position: relative;
	}
	
	#about_2 #container #content {
		margin: 0;
		width: 500px;
		padding: 0;
	}
	
	#about_2 #container #how_i_do_it {
		margin: 0;
		padding: 0;
		padding-left: 0%;
		position: absolute;
		top: 35px;
		left: 680px;
	}
	
	#how_i_do_it #displace #how_i_do_it_graph {
		width: 420px;
		height: 445px;
		background-size: 440px;
	}
	
	#projects {
		height: inherit;
	}
	
	#projects #container .vert_cent {
		padding: 0;
	}
	
	#projects #container #bitbucket #displace div {
		background: url('../images/projects.png') no-repeat;
		width: 430px;
		height: 356px;
		background-size: 430px;
		margin: 0 auto;
	}
	
	#contact {
		height: auto;
	}
}

@media all and (min-width: 1024px) and (min-device-width: 768px) and (orientation: landscape){
	#contact {
		height: inherit;
	}
	
	#contact #container .vert_cent {
		padding: 0;
	}
}